h1{
    margin: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform:uppercase;
    background-color: rgb(98, 45, 45);
    color: #e3cec3;
}

h2{
    color: rgb(98, 45, 45);
    text-decoration: underline solid;
}