body{
    margin: 0%;
    padding: 0%;
}
.NavBar{
    background-color: #21969a ;
    position: fixed;
    width: 100%;
    margin: 0px 0px 0px 0px;
    top:0%;
    display: flex;
    justify-content: center;
}
.Topics{
    display: inline;
    color: white;
    padding:25px ;
    padding-top: 40px;
    margin: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large ;
    
}
.Topics:hover{
    background-color: rgb(255, 255, 255);
    color:#21969a;    
    cursor: pointer;
}
ul > li{
    display: inline;
    font-size: 140%;
    padding: 0%;
    margin: none    ;
}
ol,ul{
    list-style-type: disc;
    margin-left: 10px;
    font-size: 140%;
}
.mainContent{
    padding: 40px 10px ;
    margin-top: 70px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 30% 30%;
}  
.content{
    opacity: 40%;
    border:5px solid #21969a;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin: 10px;
    overflow: auto ;   
}
.content:hover{
    opacity: 100%;
}
h2{
    position: sticky;
    top:0%;
    border-bottom: 3px solid #21969a;
    color: #21969a;
    background-color: white;
    margin: 0px;
    padding-top: 5px;
    width:100%;
    font-size: 200%;
}

p{
    padding: 10px;
    margin: 2px 5px 5px 5px;
    font-size: 150%;
    text-align: justify;
}

