:root{
    --prim: #abcedf;
    --sec:  #123456;
}
.hid{
    visibility: hidden;
}
.vis{
    visibility: visible;
}
#page {
    background-color: var(--prim);
}

button{
    background-color: var(--sec);
    color: var(--prim);
}

.dm{
    background-color: black;
    color: #ccdff0;
    font-family: fantasy;
    padding: 10px;
    border-radius: 5px;
}

.lm{
    background-color: #ffffff;
    color: #08192a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}